.banner {
  padding: 0;
  background-color: #52575c;
  color: white;
}

.banner-text {
  padding: 8px 20px;
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}

.tips {
  font-size: 12px;
  margin-bottom: 2px;
  color: gray;
}

.join-info-text {
  margin-bottom: 2px;
}

input {
  width: 100%;
  margin-bottom: 2px;
}

.player {
  width: 100vw;
  height: 100%;
}

#success-alert,
#success-alert-with-token {
  display: none;
}